/* FUENTE (GOOGLE) */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* -------------VARIABLES-------------- */
:root {
    --hue: 580;
    --secondHue: 60;
    --first-color: hsl(var(--hue), 52% , 48%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --second-color: hsl(var(--secondHue), 52%, 48%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);
  
    /* FUENTE Y TAMAÑOS */
    --body-font: "Press Start 2P", serif;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
  
    /* FONT WEIGHT */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  }

/* ------------RESET-------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

input,
textarea,
button {
    outline: none;
    border: none;
}

body,
button,
textarea,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    cursor: default;
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
    cursor: default;
}

/* CLASSES */

.container {
    min-width: 320px;
    height: 90%;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.title-box {
    background-color: var(--container-color);
    border-radius: 1rem;
    padding: 1rem;
    cursor: default;
    font-size: 1.2rem;
    text-align: center;
    color: var(--second-color);
    text-shadow: 1px 1px 10px var(--first-color);
}

#search-input {
    padding: .4rem;
    border-radius: 5px;
}

#search-button {
    cursor: pointer;
    padding: .4rem;
    background-color: var(--second-color);
}

    #search-button:hover {
        background-color: var(--first-color);
    }

    #search-button:active {
        background-color: var(--first-color-alt);
    }

#sprite {
    width: 200px;
    transition: all .4s ease-in-out;
}
    #sprite:hover {
        transform: scale(1.2);
    }

.name-id {
    display: flex;
    gap: 5px;
    padding: 1rem;
    color: white;
    margin-top: 5px;
}

table {
    width: 65%;
    border-collapse: separate;
    border-spacing: 0 5px;
    text-align: left;
}
    th, td {
        padding: 10px;
    }

    th {
        text-align: center;
        background-color: var(--container-color);
        border-radius: 10rem;
        font-weight: 400;
    }

    tbody td {
        text-align: center;
    }

#types {
    display: flex;
    gap: 10px;
}

.type {
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}

.grass {
    background-color: green;
}

.poison {
    background-color: #4B03C5;
}

.electric {
    background-color: yellow;
}

.fire {
    background-color: red;
}

.flying {
    background-color: lightblue;
}

.water {
    background-color: #0066ff;
}

.bug {
    background-color: #c1ff00
}

.normal {
    background-color: gray;
}

.ground {
    background-color: #ffb100;
}

.dark {
    background-color: #190141;
    color: white;
}

.rock {
    background-color: #C5AB84;
}

.fighting {
    background-color: #F57F35;
}

.steel {
    background-color: #524F4D;
}

.psychic {
    background-color: #F54CD3;
}

.dragon {
    background-color: #8CFFA3;
}

.ghost {
    background-color: #65327B;
}

.fairy {
    background-color: #FF98D4;
}

.ice {
    background-color: #4FF7F2;
}

.pokeball-div {
  display: grid;
  place-items: center;
}

.pokeball-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pokeball {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.pokeball-top {
    background-color: #f00;
    width: 100%;
    height: 50%;
    border-bottom: 5px solid black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.pokeball-bottom {
    background-color: #fff;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.pokeball-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.pokeball-center-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

        .pokeball:hover {
            animation: vibrate 0.3s linear infinite;
        }

        @keyframes vibrate {
            0% { transform: translate(0, 0) rotate(0deg); }
            20% { transform: translate(-1px, 1px) rotate(-5deg); }
            40% { transform: translate(1px, -1px) rotate(5deg); }
            60% { transform: translate(-1px, 1px) rotate(-5deg); }
            80% { transform: translate(1px, -1px) rotate(5deg); }
            100% { transform: translate(0, 0) rotate(0deg); }
        }

